@font-face {
  font-family: "houschka-pro";
  src: url("https://use.typekit.net/ojj7ywh.css");
  font-display: auto;
  font-style: normal;
  font-weight: 500;
}
body,
html {
  margin: 0;
  font-family: "houschka-pro", sans-serif;
}
